{
  "extends": "airbnb-base",
  plugins: ["import"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "function-paren-newline": ["error", "consistent"],
    "comma-dangle": ["error", "only-multiline"],
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreTrailingComments": true,
      "ignoreComments": true
    }],
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "**/*.test.js",
        "**/*.spec.js",
        "webpack.config.js"
      ]
    }],
    "import/prefer-default-export": 0
  }
}
